<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
          "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset="UTF-8">
</head>
<body>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p><b><i> <br /></i></b></p>
            <p>CONSTITUI&#199;&#195;O FEDERAL DE HAVANA  <br />TRIBUNAL DE JUSTI&#199;A <br /></p>
            <p>&quot;A injusti&#231;a num lugar qualquer &#233; uma amea&#231;a a justi&#231;a em todo lugar&quot;  <br />Martin Luther king Jr <br /></p>
            <p> <br /></p>
            <p> <br /></p>
            <p> <br /> <br /></p>
            <p> <br /></p>
            <p>Exm. Sr. Dr. Juiz Chefe de Justi&#231;a Dr. Aldo Neves <br /></p>
            <p>Exm. Sr. Dra. Juiza Chefe de Justi&#231;a Dra. Maldesa Gsts <br /></p>
            <p>Exmo. Sra. Dar. Promotora de Justi&#231;a Peixinha <br /></p>
            <p> <br /></p>
            <p> </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>PRE&#194;MBULO <br /></p>
            <p><b><i> <br /></i></b></p>
            <p>N&#243;s, representantes do povo de Havana, reunidos em Assembl&#233;ia Nacional Constituinte para instituir <br />um Estado Democr&#225;tico afirma a decis&#227;o  de defender a independ&#234;ncia nacional, de garantir os <br />direitos fundamentais dos cidad&#227;os, de estabelecer os princ&#237;pios basilares da democracia, de <br />assegurar o primado do Estado de Direito democr&#225;tico e de abrir caminho para uma sociedade <br />socialista, no respeito da vontade do povo , tendo em vista a constru&#231;&#227;o de um pa&#237;s mais livre, mais <br />justo e mais fraterno. <br /></p>
            <p>T&#205;TULO I<b> <br /></b></p>
            <p><b>Artigo 1.&#186;</b> <br /></p>
            <p>Rep&#250;blica de Havana <br /></p>
            <p>Havana &#233; uma Rep&#250;blica soberana, baseada na dignidade da pessoa humana e na <br />vontade popular e empenhada na constru&#231;&#227;o de uma sociedade livre, justa e <br />solid&#225;ria. <br /></p>
            <p><b>Artigo 2.&#186;</b> <br /></p>
            <p>Estado de direito democr&#225;tico <br /></p>
            <p>A Rep&#250;blica Havana &#233; um Estado de direito democr&#225;tico, baseado na soberania <br />popular, no pluralismo de express&#227;o e organiza&#231;&#227;o pol&#237;tica democr&#225;ticas, no <br />respeito e na garantia de efetiva&#231;&#227;o dos direitos e liberdades fundamentais e na <br />separa&#231;&#227;o e interdepend&#234;ncia de poderes, visando a realiza&#231;&#227;o da democracia <br />econ&#243;mica, social e cultural e o aprofundamento da democracia participativa.<b> <br /></b></p>
            <p><b>Artigo 3.&#186; <br /></b></p>
            <p>Tarefas fundamentais do Estado <br /></p>
            <p>S&#227;o tarefas fundamentais do Estado: <br /></p>
            <p>a) Garantir a independ&#234;ncia nacional e criar as condi&#231;&#245;es pol&#237;ticas, econ&#243;micas, <br />sociais e culturais que a promovam; <br /></p>
            <p>b) Garantir os direitos e liberdades fundamentais e o respeito pelos princ&#237;pios do <br />Estado de direito democr&#225;tico; <br /></p>
            <p>c) Defender a democracia pol&#237;tica, assegurar e incentivar a participa&#231;&#227;o <br />democr&#225;tica dos cidad&#227;os na resolu&#231;&#227;o dos problemas nacionais; </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>d) Promover o bem-estar e a qualidade de vida do povo e a igualdade real entre os <br />cidad&#227;os, bem como a efetiva&#231;&#227;o dos direitos econ&#243;micos, sociais, culturais e <br />ambientais, mediante a transforma&#231;&#227;o e moderniza&#231;&#227;o das estruturas econ&#243;micas <br />e sociais; <br /></p>
            <p>e) Promover a igualdade entre homens e mulheres. <br /></p>
            <p><b>Artigo 4.&#186;</b> <br /></p>
            <p>Direito de resist&#234;ncia <br /></p>
            <p>Todos t&#234;m o direito de resistir a qualquer ordem que ofenda os seus direitos, <br />liberdades e garantias e de repelir pela for&#231;a qualquer agress&#227;o, quando n&#227;o seja <br />poss&#237;vel recorrer &#224; autoridade p&#250;blica. <br /></p>
            <p><b>Artigo 5.&#186; <br /></b></p>
            <p>Provedor de Justi&#231;a<b> <br /></b></p>
            <p> Os cidad&#227;os podem apresentar queixas por a&#231;&#245;es ou omiss&#245;es dos poderes <br />p&#250;blicos ao Provedor de Justi&#231;a, que as apreciar&#225; sem poder decis&#243;rio, dirigindo <br />aos &#243;rg&#227;os competentes as recomenda&#231;&#245;es necess&#225;rias para prevenir e reparar <br />injusti&#231;as. <br /></p>
            <p>T&#205;TULO II <br /></p>
            <p>Direitos, liberdades e garantias <br /></p>
            <p><b>Artigo 6.&#186;</b> <br /></p>
            <p>Direito &#224; vida <br /></p>
            <p> O direito &#224; vida &#233; inerente &#224; pessoa humana. Este direito dever&#225; ser protegido pela <br />lei. Ningu&#233;m poder&#225; ser arbitrariamente privado de sua vida. A prote&#231;&#227;o jur&#237;dica &#224; <br />vida se estende &#224; integridade f&#237;sica e moral do ser humano, &#233;-lhe parte inerente. <br /></p>
            <p><b>Artigo 7.</b> <br />Direito &#224; integridade pessoal <br /></p>
            <p>1. A integridade moral e f&#237;sica das pessoas &#233; inviol&#225;vel. <br /></p>
            <p>2. Ningu&#233;m pode ser submetido a tortura, nem a tratos ou penas cru&#233;is, <br />degradantes ou desumanos. <br /></p>
            <p><b>Artigo 8.&#186;</b> </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>Direito &#224; liberdade e &#224; seguran&#231;a <br /></p>
            <p>1. Todos t&#234;m direito &#224; liberdade e &#224; seguran&#231;a. <br /></p>
            <p>2. Ningu&#233;m pode ser total ou parcialmente privado da liberdade, a n&#227;o ser em <br />consequ&#234;ncia de senten&#231;a judicial condenat&#243;ria pela pr&#225;tica de ato punido por lei <br />com pena de pris&#227;o ou de aplica&#231;&#227;o judicial de medida de seguran&#231;a. <br /></p>
            <p>3. Excetua-se deste princ&#237;pio a priva&#231;&#227;o da liberdade, pelo tempo e nas condi&#231;&#245;es <br />que a lei determinar, nos casos seguintes: <br /></p>
            <p>      a) Deten&#231;&#227;o em flagrante delito; <br /></p>
            <p>      b) Deten&#231;&#227;o ou pris&#227;o preventiva por fortes ind&#237;cios de pr&#225;tica de crime. <br /></p>
            <p>4. Toda a pessoa privada da liberdade deve ser informada imediatamente e de <br />forma compreens&#237;vel das raz&#245;es da sua pris&#227;o ou deten&#231;&#227;o e dos seus direitos. <br /></p>
            <p>5. A priva&#231;&#227;o da liberdade contra o disposto na Constitui&#231;&#227;o e na lei constitui o <br />Estado no dever de indemnizar o lesado nos termos que a lei estabelecer. <br /></p>
            <p>6. Os cidad&#227;os injustamente condenados t&#234;m direito, nas condi&#231;&#245;es que a lei <br />prescrever, &#224; revis&#227;o da senten&#231;a e &#224; indemniza&#231;&#227;o pelos danos sofridos. <br /></p>
            <p><b>Artigo 9.&#186;</b> <br /></p>
            <p>Fam&#237;lia, casamento e filia&#231;&#227;o <br /></p>
            <p> Todos t&#234;m o direito de constituir fam&#237;lia e de contrair casamento em condi&#231;&#245;es de <br />plena igualdade. <br /></p>
            <p><b>Artigo 10.&#186;</b> <br /></p>
            <p>Liberdade de express&#227;o e informa&#231;&#227;o <br /></p>
            <p>1. Todos t&#234;m o direito de exprimir e divulgar livremente o seu pensamento pela <br />palavra, pela imagem ou por qualquer outro meio, bem como o direito de informar, <br />de se informar e de ser informados, sem impedimentos nem discrimina&#231;&#245;es. <br /></p>
            <p>2. O exerc&#237;cio destes direitos n&#227;o pode ser impedido ou limitado por qualquer tipo <br />ou forma de censura. <br /></p>
            <p><b>Artigo 11.&#186;</b> <br /></p>
            <p>Direito trabalhista <br /></p>
            <p> Toda a pessoa tem direito ao trabalho, &#224; livre escolha do trabalho, a condi&#231;&#245;es <br />equitativas e satisfat&#243;rias de trabalho e &#224; prote&#231;&#227;o contra o desemprego. Todos </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>t&#234;m direito, sem discrimina&#231;&#227;o alguma, a sal&#225;rio igual por trabalho igual. <br /></p>
            <p><b>Artigo 12.&#186;</b> <br /></p>
            <p>Direitos dos consumidores <br /></p>
            <p> Os consumidores t&#234;m direito &#224; qualidade dos bens e servi&#231;os consumidos, &#224; <br />forma&#231;&#227;o e &#224; informa&#231;&#227;o, &#224; prote&#231;&#227;o da sa&#250;de, da seguran&#231;a e dos seus interesses <br />econ&#243;micos, bem como &#224; repara&#231;&#227;o de danos. <br /></p>
            <p><b>Artigo 13.&#186;</b> <br />S&#225;ude <br /></p>
            <p>A sa&#250;de &#233; direito de todos e dever do Estado, garantido mediante pol&#237;ticas <br />sociais e econ&#244;micas que visem &#224; redu&#231;&#227;o do risco de doen&#231;a e de outros <br />agravos e ao acesso universal e igualit&#225;rio &#224;s a&#231;&#245;es e servi&#231;os para sua <br />promo&#231;&#227;o, prote&#231;&#227;o e recupera&#231;&#227;o. <br /></p>
            <p><b>Artigo 14.&#186;</b> <br /></p>
            <p>Cidad&#227;os portadores de defici&#234;ncia <br /></p>
            <p>1. Os cidad&#227;os portadores de defici&#234;ncia f&#237;sica ou mental gozam plenamente dos <br />direitos e est&#227;o sujeitos aos deveres consignados na Constitui&#231;&#227;o, com ressalva do <br />exerc&#237;cio ou do cumprimento daqueles para os quais se encontrem incapacitados. <br /></p>
            <p>2. O Estado apoia as organiza&#231;&#245;es de cidad&#227;os potadores de defici&#234;ncia. <br /></p>
            <p><b>Artigo 15.&#186; <br /></b>DEPARTAMENTO DE POL&#205;CIA MILITAR E CIVIL <br /></p>
            <p>1. Os servidores p&#250;blicos do Departamento de Pol&#237;cia dever&#227;o seguir e respeitar o <br />Manual de Conduta disponibilizado, este documento ter&#225; que ser p&#250;blico ao <br />cidad&#227;o. <br /></p>
            <p> 2. O servidor p&#250;blico dever&#225; informar a sua identifica&#231;&#227;o (nome e sobrenome), <br /></p>
            <p>3. Juntamente com o passaporte a qualquer pessoa que solicitar. <br /></p>
            <p>4. Todo o cidad&#227;o possui o direito da ampla defesa, assim, sempre dever&#225; ser <br />aferi&#231;&#227;o do direito a uma liga&#231;&#227;o e a contrata&#231;&#227;o de um advogado; <br /></p>
            <p>5. &#201; proibido a qualquer &#243;rg&#227;o ou institui&#231;&#227;o a estipula&#231;&#227;o de tempo para o <br />atendimento do advogado ao cliente. <br /></p>
            <p>6. A viola&#231;&#227;o &#224;s prerrogativas do advogado e membros da corte Superior ser&#225; </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>considerada ato improbidade administrativa, pass&#237;vel de ajuizamento da a&#231;&#227;o <br />respectiva pelo Minist&#233;rio P&#250;blico. <br /></p>
            <p>7. O &quot;Aviso de Miranda&quot;, como ficaram conhecidos os chamados &quot;Miranda Rights&quot;, <br />se correlaciona com o direito fundamental do acusado a permanecer em sil&#234;ncio e <br />n&#227;o produzir prova contra si mesmo. <br /></p>
            <p><b> <br /></b></p>
            <p><b>Juizado de Havana <br />Minist&#233;rio P&#250;blico de Havana <br /></b></p>
            <p><b>Ordem dos Advogados da Cidade de Havana <br /> </b> <br /></p>
            <p> </p>

        </div>
    </div>
</body>
</html>